<div>
    <form [formGroup]="customerRegisterForm" (ngSubmit)="onSubmit()">
        <mat-horizontal-stepper #stepper>
            <mat-step label="Personal">
                <mat-card class="mx-auto card-border justify-content-centre">
                    <br>
                    <mat-card-title>Personal Details</mat-card-title>
                    <br>
                    <mat-card-content>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" formControlName="name" placeholder="Employee Name" required>
                                <mat-icon matSuffix>name</mat-icon>
                                <mat-error>Name required<br></mat-error>
                            </mat-form-field>

                            <br>
                            <mat-form-field appearance="outline">
                                <mat-label>DOB</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="DD/MM/YYYY"
                                    required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <div>
                                <br>
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="text" formControlName='email' #email
                                        placeholder="user@domain.com" required>
                                    <mat-icon matSuffix>mail</mat-icon>
                                    <mat-error *ngIf="email.required">{{getEmailErrors()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <br>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName='password'
                                        #password placeholder="password" required>
                                    <mat-icon matSuffix (click)="hide=!hide">{{hide ? 'visibility_off':'visibility'}}
                                    </mat-icon>
                                    <mat-error *ngIf="password.required">Password Required</mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'"
                                        formControlName='confirmPassword' #confirmPassword
                                        placeholder="Confirm Password" required>
                                    <mat-icon matSuffix (click)="hide=!hide">{{hide ? 'visibility_off':'visibility'}}
                                    </mat-icon>
                                    <mat-error *ngIf="customerRegisterForm.errors?.passwordMatch">getPasswordErrors()
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <button class="btn btn-primary" matStepperNext type="button">Save & continue</button>
                        <div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-step>

            <mat-step label="Address">
                <router-outlet>
                    <app-address (onAddressId)="getAddressId($event)"></app-address>

                </router-outlet>
            </mat-step>

            <mat-step label="Bank">
                <div class="card-border mx-auto">
                    <mat-card>
                        <br>
                        <mat-card-title>Bank Details</mat-card-title>
                        <br>
                        <ng-container formGroupName="branchModel">
                            <mat-form-field appearance="outline" required>
                                <mat-select placeholder="Branch Name" name="branch" formControlName="branchCode">
                                    <mat-option *ngFor="let branch of branches" [value]="branch.branchCode">
                                        {{branch.name | titlecase}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                        <br>

                        <ng-container formGroupName="accountTypeModel">
                            <mat-form-field appearance="outline" required>
                                <mat-select placeholder="Account Type" name="accounType" formControlName="id">
                                    <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.id">
                                        {{accountType.name | titlecase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                        <br>
                        <ng-container formGroupName="statusModel">
                            <mat-form-field appearance="outline" required>
                                <mat-select placeholder="Account Status" name="status" formControlName="id">
                                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                                        {{status.name | titlecase}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                        <br>
                        <button type="submit" [disabled]="customerRegisterForm.invalid || addressId==undefined "
                            class="btn-primary btn">Submit</button>
                    </mat-card>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>