<div class="container-fluid">
  <br>
  <input type="text" class="form-control search-input" (keyup)="filterData($event.target.value)"
    placeholder="Search By Account No">
  <br>
  <span class="btn btn-primary" (click)="addCustomer()">+ Add Customer</span>
  <div>
    <mat-table mat-tabel [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="accountNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Account No</th>
        <td mat-cell *matCellDef="let customer">{{customer.accountNo}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let customer">
          <mat-icon class="align-middle" (click)="viewAddress(customer.addressModel)">info</mat-icon>
          {{customer.name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
        <td mat-cell *matCellDef="let customer">{{customer.dob | date}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let customer">{{customer.email}}</td>
      </ng-container>
      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch Name</th>
        <td mat-cell *matCellDef="let customer">
          <mat-icon class="align-middle" (click)="viewBranch(customer.branchModel)">info</mat-icon>
          {{customer.branchModel.name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Type</th>
        <td mat-cell *matCellDef="let customer">{{customer.accountTypeModel.name}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Status</th>
        <td mat-cell *matCellDef="let customer">{{customer.statusModel.name}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let customer"><button class="btn btn-primary align-middle"
            (click)="customerEdit(customer.accountNo)">Edit</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="customerColumns"></tr>
      <tr mat-row *matRowDef="let row;  columns : customerColumns">{{row}}</tr>
    </mat-table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20,100]" showFirstLastButtons></mat-paginator>
</div>