<form [formGroup]="updateComplaintForm" class="align-items-center" (ngSubmit)="onSubmit()">
  <mat-card class="mx-auto card">
    <mat-card-title>Update Complaint</mat-card-title>
    <br>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" placeholder="description" formControlName="description" readonly></textarea>
      </mat-form-field>
      <br>
      <ng-container formGroupName="customerModel">
        <mat-form-field appearance="outline">
          <mat-label>customer AccountNo</mat-label>
          <input matInput type="text" placeholder="AccountNo" name="account" formControlName="accountNo" readonly>
        </mat-form-field>
      </ng-container>
      <br>

      <ng-container formGroupName="rowStatusModel">
        <!-- <-- V #id formControlName="id" [(ngModel)]="selectedValue"-->
        <mat-form-field appearance="outline">
          <mat-label>status</mat-label>
          <mat-select placeholder="status" name="status" formControlName="id">
            <mat-option *ngFor="let status of statuses;let i=index" [value]="status.id">
              {{status.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <br>
      <button class="justify-content-center" mat-raised-button color="primary">submit</button>
    </mat-card-content>
  </mat-card>
</form>