<!--<app-address></app-address>-->
<!----<app-withdraw></app-withdraw>-->
 <!-- <login></login> -->
<br>
<!---<app-create-deposit></app-create-deposit>-->
<!---<app-transfer></app-transfer>-->

  <app-dashboard></app-dashboard>
<!-- <app-transaction-history></app-transaction-history> -->


<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-customers></app-customers> -->
  <!-- <app-loans></app-loans> -->
  <br>

<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-complaints></app-complaints> -->
<!-- <app-update-complaint></app-update-complaint> -->
<button class="button btn-info">Save</button>
