<div class="container-fluid">
  <th>
    <mat-form-field appearance="outline">
      <input (keyup)="filterById($event.target.value)" matInput placeholder="Filter By id">
    </mat-form-field>
  </th>
  <th>
    <mat-form-field appearance="outline">
      <input (keyup)="filterByName($event.target.value)" matInput placeholder="Filter By Name">
    </mat-form-field>
  </th>
  <th>
    <mat-form-field appearance="outline">
      <input (keyup)="filterByDescription($event.target.value)" matInput placeholder="Filter By Description">
    </mat-form-field>
  </th>
  <th>
    <mat-form-field appearance="outline">
      <mat-label>Filter By Date</mat-label>
      <mat-date-range-input [rangePicker]="picker" [max]="maxDate" disabled="true">
        <input matInput #start matStartDate>
        <input matInput #end matEndDate>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker disabled="false" startView="year" (closed)="filterByRaisedDate(start.value,end.value)"
        #picker>
      </mat-date-range-picker>
    </mat-form-field>
  </th>
  <th></th>
  <th>
    <mat-form-field appearance="outline">
      <input (keyup)="filterByStatus($event)" matInput placeholder="Filter By Status">
    </mat-form-field>
  </th>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b> ID</b>

      </th>
      <td mat-cell *matCellDef="let complaint">{{complaint.id}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Description</b>

      </th>
      <td mat-cell *matCellDef="let complaint">{{complaint.description}}</td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Name</b>

      </th>
      <td mat-cell *matCellDef="let complaint">{{complaint.customerModel.name}}</td>
    </ng-container>
    <ng-container matColumnDef="raised">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Rasied On</b>

      </th>
      <td mat-cell *matCellDef="let complaint">{{complaint.raisedDate | date :'dd-MMM-yyyy h:mm:ss a '}}</td>
    </ng-container>
    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Update On</b></th>
      <td mat-cell *matCellDef="let complaint">{{complaint.updatedDate | date :'dd-MMM-yyyy h:mm:ss a '}}</td>
    </ng-container>
    <ng-container matSort matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Status</b>
      </th>
      <td mat-cell *matCellDef="let complaint">{{complaint.statusModel.name}}</td>
    </ng-container>

    <ng-container matSort matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Action</b>
      </th>
      <td mat-cell *matCellDef="let complaint">
        <button class="btn btn-primary" (click)="updateComplaint(complaint.id)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row;  columns : columnsToDisplay"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,20]">
  </mat-paginator>
</div>
