
.mat-form-field {
  font-size: 14px;
  width: 25%;

}
.mat-divider {
  border-top-color:grey

}
::ng-deep .mat-card{
  border-top:4px solid rgb(241, 89, 190)
}
.align{
 float: right;
}
.chip-align{
  margin-right: 100px;


}
.rotate{
  transform: rotate(270deg);
  font-size: 20px;
  padding-top: -3px;
}
.info-icon-success{
  transform: rotate(180deg);
  color:green;
}
.info-icon-failed{
  transform: rotate(180deg);
  color:#dc3545;
}
.info-icon-processing{
  transform: rotate(180deg);
  color:hsl(22, 88%, 59%)
}
