
.mat-form-field {
  font-size: 15px;
  width: 150px;
  height: 10px;;

}
.mat-divider {
  border-top-color:grey

}
.mat-card{
  border-top:4px solid rgb(241, 89, 190);
  
}
.align{
 float: right;
}
.chip-align{
  flex: 1 1 auto;
  text-align: right;

}
.rotate{
  transform: rotate(270deg);
  font-size: 20px;
  padding-top: -3px;
}
.info-icon-success{
  transform: rotate(180deg);
  color:green;
}
.info-icon-failed{
  transform: rotate(180deg);
  color:#dc3545;
}
.info-icon-processing{
  transform: rotate(180deg);
  color:hsl(22, 88%, 59%)
}
.chip-button-align{
  flex: 1 1 auto;
  text-align: right;

}

.mat-raised-button{
width:50px;
height:40px;
text-align: center;
}

.button-align{

  top:-3px;
}
