<div class="mx-auto card-border">
  <mat-card>
    <mat-card-title>Update Address</mat-card-title><br>
    <mat-card-content>

      <form formGroup="updateAddressForm" (ngSubmit)="onSubmit()">
        <mat-label>Select Country</mat-label><br><br>
        <mat-radio-group #country color="primary" formControlName="country" required>
          <mat-radio-button (change)="onCountrySelectionChange($event)" value="INDIA">India</mat-radio-button>
          <mat-radio-button (change)="onCountrySelectionChange($event)" value="US">US</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field appearance="outline" required>
          <mat-label>State</mat-label>
          <mat-select formControlName="state" placeholder="Select State" name="item">
            <mat-option *ngFor="let state of states[selectedCountry]" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
          <mat-error>Stare Required<br></mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Street</mat-label>
          <input matInput type="text" formControlName="street" placeholder="Street Name" required>
          <mat-error>Street Required<br></mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Pincode</mat-label>
          <input matInput type="number" formControlName="pinCode" placeholder="Pincode" required>
          <mat-error>Pincode Required<br></mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" placeholder="City Name" required>
          <mat-error>City required<br></mat-error>
        </mat-form-field>
        <br>
        <ng-container *ngIf="isSaving">
          <mat-progress-bar mode="blur" value="60"></mat-progress-bar>
          <br>
        </ng-container>
        <button class="btn btn-primary" [disabled]="this.updateAddressForm.invalid" type="submit">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>