<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid">
<mat-toolbar color="primary" class="toolbar">
  <div>Application</div>
  <button class="button-align" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon color="white">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>calendar_today</mat-icon>
      <mat-form-field>
       <!----<mat-label>Input disabled</mat-label>-->
       <input matInput [matDatepicker]="dp3" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <!---<mat-datepicker-toggle [matDatepicker]="picker" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>-->
      <span>Calender</span>
    </button>

    <button mat-menu-item>
      <mat-icon>notifications</mat-icon>
      <span>alerts</span>
    </button>
  </mat-menu>
  <mat-icon matTooltip="logout">power_settings_new</mat-icon>
</mat-toolbar>
<br>

<mat-drawer-container class="example-container" autosize>
  <br>
  <div class="row">
    <br>
    <mat-card class="card">
      <button mat-fab class="mt-3 ml-5" color="primary" matTooltipPosition="above" matTooltip="check account balance"
        aria-label="Example icon button with a heart icon" (click)="openDialog()">
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
      <br>
      <mat-card-content>
        <br>
        <span class="ml-3">Account Balance</span></mat-card-content>
    </mat-card>
    <mat-card class="card">
      <button mat-fab class="mt-3 ml-5" color="primary" matTooltip="deposit money" matTooltipPosition="above"
        aria-label="Example icon button with a heart icon" (click)="openDialog()">
        <mat-icon>south</mat-icon>
        <mat-icon class="icon">account_balance</mat-icon>

      </button>
      <br>
      <!----<img mat-card-image src="..\..\..\src\assets\10-512.png" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <br>
        <span class="ml-5">Deposit</span></mat-card-content>
    </mat-card>
    <mat-card class="card">
      <button mat-fab class="mt-3 ml-5" matTooltip="withdraw money" matTooltipPosition="above" color="primary"
        aria-label="Example icon button with a heart icon" (click)="openDialog()">
        <mat-icon class="rotate">money</mat-icon>
        <br>
        <mat-icon class="rotate">account_balance_wallet</mat-icon>
      </button>
      <br>
      <mat-card-content>
        <br>
        <span class="ml-5">Withdraw</span></mat-card-content>
    </mat-card>
    <br>

  </div>
  <br>
  <div class="row">
    <mat-card class="card">
      <button mat-fab class="mt-3 ml-5" matTooltip="transfer money" matTooltipPosition="left" color="primary"
        aria-label="Example icon button with a heart icon" (click)="openDialog()">
        <mat-icon class=" transfer-icon">south</mat-icon>
        <mat-icon class="icon ">account_balance</mat-icon>

      </button>
      <br>
      <mat-card-content>
        <br>
        <span class="ml-5">Transfer</span></mat-card-content>
    </mat-card>
    <br>
    <mat-card class="card">
      <button mat-fab class="mt-3 ml-5" matTooltip="transaction history" matTooltipPosition="left" color="primary"
        aria-label="Example icon button with a heart icon" (click)="openDialog()">
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <br>
      <mat-card-content>
        <br>
        <span class="ml-5">History</span></mat-card-content>
    </mat-card>
    <br>
    <mat-card class="card">
        <button mat-fab class="mt-3 ml-5" matTooltip="apply for loan" matTooltipPosition="left" color="primary"
          aria-label="Example icon button with a heart icon" (click)="openDialog()">
       <mat-icon>check_circle_outline</mat-icon>
       <mat-icon>person</mat-icon>
        </button>
        <br>
        <mat-card-content>
          <br>
          <span class="ml-5">Loans</span></mat-card-content>
      </mat-card>
  </div>

  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <button mat-icon-button (click)="onClick()" aria-label="Example icon button with a home icon">
      <mat-icon class="icon-display">account_circle</mat-icon>
    </button>
    <div>
      <button class="mr-3 ml-3 button-size" matTooltip="profile info" (click)="showFiller = !showFiller"
        mat-icon-button>
        <mat-icon color="accent" class="mb-0.5">info</mat-icon>
      </button>
    </div>
    <p *ngIf="showFiller">Name:{{customerModel.name}}.</p>
  </mat-drawer>


  <div class="example-sidenav-content" (click)="drawer.toggle()">
    <!--- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>-->

  </div>

</mat-drawer-container>
</div>
