.example-container {
  width: auto;
  height:600px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  min-height: 100px;
  align-items: center;
  justify-content: center;
  display: flex
}

.example-sidenav {
  padding: 20px;
  width: 150px;
}
.toolbar{
  height: 40px;
  width:auto;
}
.button-align{
  margin-left: 750px;
}
.icon-display{
    transform: scale(2.7);
    margin-top: 30px;
    margin-left: 30px;
}
::ng-deep .matTooltip
{
 width:100px;
 height: 300px;
}
.button-size{
width:25px;
height: 25px;
 font-size:10px;
 align-items: center;
 text-align: center;
 justify-content: center;
}
.card{
  width: 200px;
  height: 150px;
  margin-left:10px;
}
.row{
  margin-left: 80px;
}
.icon{
align-items: center;
margin-right: 100px;

}
.rotate{
  transform: rotate(270deg);

  font-size: 20px;
  padding-top: -3px;
}
.transfer-icon{
  transform: rotate(180deg);
}

