<mat-toolbar color="primary" class="toolbar">
  <div fxShow="true" fxHide.lt-md="true">Application</div>
  <span class="title-center">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon color="white">more_vert</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon matTooltip="logout">power_settings_new</mat-icon>
    </button>
  </span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>

    <button mat-menu-item (click)="showNotification('success','This library is built on top of Angular 2.' )">
      <mat-icon>notifications</mat-icon>
      <span class="button__badge">4 </span>
      <span>alerts</span>
    </button>
  </mat-menu>
  <!-- class="justify-content-end align-items-end mx-auto" -->
</mat-toolbar>

<!---
<mat-toolbar color="primary" class="mat-elevation-z10">
  <mat-toolbar-row>
    <mat-icon>favorite</mat-icon>
    <span>
      Derek Zoolander's Center for...
    </span>
    <span fxFlex></span>
    <span class="example-spacer"></span>
    <button class="align-items-end  "mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="expand menu">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <!-- <button mat-menu-item>
          <mat-icon>calendar_today</mat-icon>
          <mat-form-field>

            <input matInput [matDatepicker]="dp3" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
         <mat-datepicker-toggle [matDatepicker]="picker" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <span>Calender</span>
        </button>

        <button mat-menu-item>
          <mat-icon>notifications</mat-icon>
          <span>alerts</span>
        </button>
      </mat-menu>

      <div fxShow="true" fxHide.lt-md>

          <a href="#" mat-button>Align right</a>
        </div>
  </mat-toolbar-row>
</mat-toolbar>-->

<br>
<div class="container-fluid">
  <mat-drawer-container class="example-container">
    <div class="row mx-0">
      <div class="col-lg-4 col-md-4">
        <mat-card class="card mx-auto mr-3 size">
          <br>
          <button mat-fab class="my-fab" color="primary" matTooltipPosition="above" matTooltip="check account balance"
            aria-label="Example icon button with a heart icon">
            <mat-icon class="mat-icon-size">account_balance_wallet</mat-icon>
          </button>
          <br>
          <mat-card-content>
            <br>
            <span>Balance</span>
          </mat-card-content>
          <br>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div class="align">
            <button mat-icon-button color="primary" (click)="openDialog()">
              <mat-icon>trending_flat</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>


      <!-- col-lg-4 col-md-6 col-sm-12 " -->
      <div class="col-lg-4 col-md-4 ">
        <mat-card class="card mx-auto mr-3 size">
          <br>
          <button mat-fab class="my-fab" color="primary" matTooltip="deposit money" matTooltipPosition="above"
            aria-label="Example icon button with a heart icon" (click)="openDialog()">
            <mat-icon class="mat-icon-size ">south</mat-icon>
            <mat-icon class=" mat-icon-size ">account_balance</mat-icon>
          </button>
          <br>
          <!----<img mat-card-image src="..\..\..\src\assets\10-512.png" alt="Photo of a Shiba Inu">-->
          <mat-card-content>
            <br>
            <span>Deposit</span></mat-card-content>
          <br>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div class="align">
            <button mat-icon-button color="primary">
              <a routerLink='deposit' routerLinkActive="router-link-active">
                <mat-icon>trending_flat</mat-icon>
              </a>
            </button>
          </div>
        </mat-card>
      </div>

      <div class="col-lg-4 col-md-4">
        <mat-card class="card mx-auto size">
          <br>
          <button mat-fab class="my-fab  " matTooltip="withdraw money" matTooltipPosition="above" color="primary"
            aria-label="Example icon button with a heart icon" (click)="openDialog()">

            <div class="rotate ml-1 justify-content-center">
              <mat-icon class="mat-icon-size">account_balance_wallet</mat-icon>
              <mat-icon class="mat-icon-size">money</mat-icon>
            </div>
          </button>
          <br>
          <br>
          <mat-card-content>
            <span>Withdraw</span></mat-card-content>
          <br>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div class="align">
            <button mat-icon-button color="primary">
              <a routerLink='withdraw' routerLinkActive="router-link-active">
                <mat-icon>trending_flat</mat-icon>
              </a>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
    <br>
    <!--mt-3 ml-5 -->
    <div class="row mx-0">
      <br>
      <div class="col-lg-4 col-md-4  ">
        <mat-card class="card mx-auto mr-3 size">
          <br>
          <button mat-fab class=" my-fab " matTooltip="transfer money" matTooltipPosition="left" color="primary"
            aria-label="Example icon button with a heart icon" (click)="openDialog()">
            <mat-icon class=" mat-icon-size ">north</mat-icon>
            <mat-icon class=" mat-icon-size ">account_balance</mat-icon>
          </button>
          <mat-card-content>
            <br>
            <span>Transfer</span></mat-card-content>
          <br>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div class="align">
            <button mat-icon-button color="primary">
              <a routerLink='transfer' routerLinkActive="router-link-active">
                <mat-icon>trending_flat</mat-icon>
              </a>
            </button>
          </div>
        </mat-card>
      </div>
      <br>
      <br>
      <!-- class=" col-lg-3  col-sm-6  col-xs-12 -->
      <div class="col-lg-4 col-md-4  ">
        <mat-card class="card mx-auto mr-3 size">
          <br>
          <button mat-fab class="my-fab" matTooltip="transaction history" matTooltipPosition="left" color="primary"
            (click)="openDialog()">
            <mat-icon class="mat-icon-size">swap_horiz</mat-icon>
          </button>
          <br>
          <mat-card-content>
            <br>
            <span>History</span>
          </mat-card-content>
          <br>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div class="align">
            <button mat-icon-button color="primary">
              <a routerLink='transaction-history' routerLinkActive="router-link-active">
                <mat-icon>trending_flat</mat-icon>
              </a>
            </button>
          </div>
        </mat-card>
      </div>
      <br>
      <br>
      <div class="col-lg-4 col-md-4 ">
        <mat-card class="card  mx-auto mr-3 size">
          <br>
          <button mat-fab class="my-fab " matTooltip="apply for loan" matTooltipPosition="left" color="primary"
            aria-label="Example icon button with a heart icon" (click)="openDialog()">
            <mat-icon class="mat-icon-size ">check_circle_outline</mat-icon>
            <mat-icon class="mat-icon-size ">person</mat-icon>
          </button>
          <br>
          <mat-card-content>
            <br>
            <span>Loans</span></mat-card-content>
          <br>
          <br>
          <mat-divider></mat-divider>
          <br>
          <div class="align">
            <button mat-icon-button color="primary">
              <a routerLink='apply-loan' routerLinkActive="router-link-active">
                <mat-icon>trending_flat</mat-icon>
              </a>
            </button>
          </div>

        </mat-card>
      </div>
    </div>

    <mat-drawer #drawer class="example-sidenav " mode="side" opened>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon class="icon-display">account_circle</mat-icon>
      </button>
      <br>
      <br>
      <br>
      <div class="justify-content-center pt-5 ml-3">

        <!-- <p *ngIf="showFiller">Name:{{customerModel.name}}.</p> -->
        <mat-icon color="accent">account_box</mat-icon><span class="aligned-with-icon">{{name}}</span>
        <br>
        <!-- <span>hello<i class="material-icons">face</i></span> -->
        <mat-icon color="primary">mail</mat-icon><span class="aligned-with-icon"> {{email}}</span>
        <br>
      </div>
      <div>
        <br>
        <br>

        <mat-card class="card-border">
          <mat-card-content>
            Transfers:{{ transferCount}}
            <br>
            Withdraws:{{withdrawCount}}
            <br>
            Deposits:{{depositCount}}
          </mat-card-content>
        </mat-card>
        <br>
        <br>
        <mat-card class="card-border">
          <mat-card-content>
            Complaints:{{complaintCount}}
            <br>
            <button mat-button color="primary" (click)="viewComplaints()">view</button>
            <button mat-button color="primary">
              <a routerLink='complaint' routerLinkActive="router-link-active">post</a></button>
          </mat-card-content>
        </mat-card>
      </div>

    </mat-drawer>

    <div class="example-sidenav-content ">
      <button mat-icon-button color="accent" (click)="drawer.toggle()">
        <span> Hide Profile</span>&nbsp; <mat-icon>trending_flat</mat-icon>
      </button>

    </div>
  </mat-drawer-container>

</div>

<notifier-container></notifier-container>

<router-outlet></router-outlet>
